# Ignore ide files
.vscode

# Ignore venv
venv

# Ignore temporary files
**/__pycache__

# Ignore transpiled files
output/**
!output/**/*.bash

# Ignore compiled files
bin/**
!bin/**/*.bash

# Do not ignore
**/*.keep
